fastapi
uvicorn[standard]

motor
beanie
pymongo

python-dotenv

pydantic
pydantic-settings

redis

python-jose[cryptography]
passlib[bcrypt]

python-multipart

cloudinary

langchain
langchain-openai
langchain-community

pymupdf

tiktoken

celery

httpx

orjson

structlog

slowapi

pytest
pytest-asyncio