fastapi
uvicorn[standard]

beanie
motor
pymongo

redis

celery

google-genai

langchain
langchain-community
langchain-text-splitters

PyMuPDF

python-jose[cryptography]
passlib[bcrypt]

python-multipart

python-dotenv
pydantic-settings

httpx

orjson

structlog

pytest
pytest-asyncio
pydantic[email]